<%- include("Template/cabecera", {tituloweb: "Pagina de inicio" }) %>
    <div class="container">
        <br>
        <h1>LISTA DE BARES</h1>
        <a class="btn btn-success btn-block my-4" href="/Bar/crear">Crear un nuevo bar</a>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col" class="accion">Acción</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayBar.length> 0) { %>
                    <% arrayBar.forEach(Bar=> { %>
                        <tr>
                            <th scope="row">
                                <%= Bar.id %>
                            </th>
                            <td>
                                <%= Bar.nombre %>
                            </td>
                            <td>
                                <%= Bar.horario %>
                            </td>
                            <td>
                                <%= Bar.direccion %>
                            </td>
                            <td>
                                <%= Bar.observaciones %>
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="Bar/<%= Bar.id %>">Editar/Eliminar</a>
                            </td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>

    </div>
    <%- include("Template/footer") %>