<%- include("Template/cabecera", {tituloweb: 'Detalles del Pokemon' }) %>
    <% if (error) { %>
        <%= mensaje %>
            <a href="/Bar" class="btn btn-dark btn-block my-2">
                Volver
            </a>
            <% } %>
                <% if (!error) { %>
                    <div class="container">
                        <div class="bg">
                            <table class="table">
                                <h1 class="h1">Detalles del pokemon</h1>
                                <br>
                                <tbody>
                                    <% if (!error) { %>
                                        <form id="editar" data-id="<%= Bar.id %>">
                                            <input type="text" value="<%= Bar.nombre %>" class="fila" name="nombre"
                                                id="nombreInput">
                                            <input type="text" value="<%= Bar.horario %>" class="fila" name="horario"
                                                id="tipoInput">
                                                <input type="text" value="<%= Bar.direccion %>" class="fila" name="direccion"
                                                id="tipoInput">
                                            <input type="text" value="<%= Bar.observaciones %>" class="fila"
                                                name="observaciones" id="descripcionInput">
                                            <button class="btn3 btn-warning btn-sm" type="submit">
                                                Editar
                                            </button>
                                            <button class="btn3 btn-danger btn-sm" data-id="<%= Bar.id %>">
                                                Eliminar
                                            </button>
                                        </form>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% } %>

                        <%- include("template/footer") %>
                            <script>
                                const btnEliminar = document.querySelector('.btn-danger')
                                btnEliminar.addEventListener('click', async () => {
                                    console.log(btnEliminar.dataset.id)
                                    try {
                                       
                                        const data = await fetch(`/Bar/${btnEliminar.dataset.id}`, {
                                            method: 'delete'
                                        })
                                        const res = await data.json()
                                        console.log(res)
                                        if (res.estado) {
                                            window.location.href = '/Bar'
                                        } else {
                                            console.log(res)
                                        }
                                    } catch (error) {
                                        console.log(error)
                                    }
                                })
                                const formEditar = document.querySelector('#editar');
                                formEditar.addEventListener('submit', async (e) => {
                                    e.preventDefault()
                                    const nombre = formEditar.elements['nombre'].value
                                    const horario = formEditar.elements['horario'].value
                                    const direccion = formEditar.elements['direccion'].value
                                    const observaciones = formEditar.elements['observaciones'].value
                                    const id = formEditar.dataset.id
                                    const data = await fetch(`/Bar/${id}`, {
                                        method: 'PUT',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({ nombre, horario, direccion, observaciones })
                                    })
                                    const res = await data.json()
                                    if (res.estado) {
                                        window.location.href = '/Bar'
                                    } else {
                                        console.log(res)
                                    }
                                })
                            </script>